include modal.pug

mixin IncludeCSS(filename)
    - let path = `assets/css/${filename}`
    link(rel="stylesheet", href=path)

mixin IncludeJS(filename)
    - let path = `assets/js/${filename}`
    script(src=path)

mixin InputRadio(name, label)
    label.radio= label
        input(type="radio" name=name)
        span.checkmark

mixin BtnMenu()
    button.btn__menu
        span

mixin Navbar()
    header
        .container.navbar
            .col
                .soc__wrapper
                    a(href="#").inst
                    a(href="#").vk
                a(href="#").how__to__get 
                    span Как добраться
                .search__form
                    input(type="text" placeholder="Поиск по сайту...")
            a(href="/").logo
                img(src="assets/images/logo.png", alt="")
            .col
                .schedule
                    span Ежедневно: 9:00 – 20:00
                    span 
                        +ContactPhone()
                button.btn Обратная связь
                +BtnMenu()
        .menu__wrapper
            .container
                +Menu()
        .mobile__menu
            .container
                .search__form
                    input(type="text" placeholder="Поиск по сайту...")
                +Menu()
                .row
                    .soc__wrapper
                        a(href="#").inst
                        a(href="#").vk
                    a(href="#").how__to__get 
                        span Как добраться
                .schedule
                    span Ежедневно: 9:00 – 20:00
                    span 
                        +ContactPhone()
                

mixin ContactPhone()
    |+7 (8313) 13-55-65

mixin Menu()
    ul.menu
        li
            a(href="#") Главная
        li
            a(href="#") Магазин
        li
            a(href="#") Услуги
        li
            a(href="sale.html") Акции
        li
            a(href="#") Новости
        li
            a(href="#") Арендаторам
        li
            a(href="#") О нас
        li
            a(href="#") Контакты

mixin Footer()
    footer
        .container
            .col
                a(href="/").logo
                    img(src="assets/images/logo.png", alt="")
                .address
                    span г.Дзержинск, <br> пр-т Циолковского, 76
                a(href="#").policy Политика конфиденциальности
            .col
                .schedule
                    span Ежедневно: 9:00 – 20:00
                .soc__wrapper
                    span Мы в соц. сетях
                    a(href="#").inst
                    a(href="#").vk
            .col
                +Menu()
            .col
                a(href="#").phone
                    +ContactPhone()
                .soc__wrapper.messengers
                    a(href="#").viber
                    a(href="#").whatsapp
                    a(href="#").tg
                button.btn Обратная связь
                .copyright
                    |Copyrigth 2021 - все права защищены. Копирование информации без указания источника запрещено
                .salut
                    span Разработка сайта - 
                        a(target="_blank" href="https://salut-promo.ru/") SalutPromo
                
